
<div class="well">
    <div class="row ">
        <div><h3>Hello<h3><strong>@User.Identity.Name</strong></div>
        <div>
            @Html.ActionLink("Exit", "LogOff", "Account",null, new { @class = "btn btn-block btn-primary" })
        </div>
    </div>
</div>
